body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: #000;
    color: rgb(0, 0, 0);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo-img {
    width: 150px;   /* pode ajustar */
    height: auto;
}

.logo span {
    color: limegreen;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: limegreen;
}

.hero {
    background: limegreen;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 30px;
}

ul {
    list-style: square;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #32cd32;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.produto-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-card img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    .grid {
        justify-content: center;
    }

    form {
        width: 100%;
    }

}